@model IEnumerable<WebApplication.Models.JediViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Nom</td>
        <td>Côté de la force</td>
    </tr>
    @foreach (var jedi in ViewBag.Jedis)
    {
        <tr>
            <td>@jedi.ID</td>
            <td>@jedi.Nom</td>
            @if (jedi.IsSith)
            {
                <td>Sith</td>
            }
            else
            {
                <td>Jedi</td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = jedi.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = jedi.ID })
            </td>
        </tr>
    }
</table>